body{font-size: 12px; font-family: "微軟正黑體"; --grid: 30; --chess: 26; --dot: 24; 
     --titlescale: 1; --markerscale: 1; --Gscale: 1;}

#chessboard {
	position: relative;
	display: block;
	width: 240px;
	height: 270px;
}
#chessboard, #chessboard * {
	box-sizing: border-box;
}
#chessboard table {
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}
#chessboard .chess-center {
	height: 30px;
}

#chessboard .chess-axi-top, .chess-axi-bot {
	position: absolute;
	display: block;
	width: 30px;
	height: 20px;
	font-size: 12px;
	font-style: normal;
}

#chessboard .chess-axi-bot{
	top: 142px;
}

#chessboard .chess-td-trans {
	width: 85px;
	position: absolute;
	border-top: 1px solid black;
}
#chessboard .trans-top-1 {
	left: 78px;
	top: 30px;
	transform: rotate(45deg);
}
#chessboard .trans-top-2 {
	left: 78px;
	top: 30px;
	transform: rotate(-45deg);
}
#chessboard .trans-bottom-1 {
	left: 78px;
	top: 240px;
	transform: rotate(45deg);

}
#chessboard .trans-bottom-2 {
	left: 78px;
	top: 240px;
	transform: rotate(-45deg);

}
#chessboard .horizonLine {
	position: absolute;
	display: block;
    border-top: 0.5px solid black;
}
#chessboard .verticalLine {
	position: absolute;
	display: block;
	border-left: 0.5px solid black;
}

.scaleBoardEnlarge {
	position: absolute;
	height: 22px;
	width : 22px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #638cc7;
	color: #ffffff;
	border: 0.3px solid #000000;
	border-radius: 4px;

	left: -45px;
	top: 110px;
}

.scaleBoardShrink {
	position: absolute;
	height: 22px;
	width : 22px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #638cc7;
	color: #ffffff;
	border: 0.3px solid #000000;
	border-radius: 4px;

	left: -45px;
	top: 140px;
}

#chessboard-name{
	position: absolute;
	left: 85px;
	top: 123.5px;
	font-size: 18px;
	font-family: "微軟正黑體";
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
    align-items: center;
	-webkit-justify-content: center;
    justify-content: center;
    text-align: center;
	text-align: -webkit-center;
}

/*棋子的样式*/
#chesslist .chesspieceRed, .chesspieceBlack{
	position: absolute;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	
	background: #aaa;
	font-style: normal;
	font-size: 17px;
	font-weight: 800;
	cursor: pointer;
	z-index: 2;
	text-align: center;
	text-align: -webkit-center;

    display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
    align-items: center;
	-webkit-justify-content: center;
    justify-content: center;
}

#chesslist .chesscurrent{
	position: absolute;
	border-radius: 20%;
	width: 26px;
	height: 26px;
	border: 1px solid #737373;
	cursor: pointer;
	z-index: 1;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#chesslist .chesspieceMovingCurve{
	position: absolute;
	margin: 9.4px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #666;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

/*上方棋子的样式*/
#chesslist .textcolor {
	color: white;
}

#chesslist .chesspieceRed {
	line-height: 20px;
	background: red;
}
#chesslist .chesspieceBlack {
	line-height: 20px;
	background: Black;
}

#chessboard .event-layer {
	cursor: pointer;
	position: absolute;
}

#chessboard .event-layer:hove {
	background: #f40;
	border-radius: 50%;
}

#chesslist .red-active {
	background: white;
	color: red;
	border-color: black;
	border: 1px solid;
	z-index: 3;
}

#chesslist .black-active {
	background: white;
	color: black;
	border-color: black;
	border: 1px solid;
	z-index: 3;
}

.chessBoardBtn {
	height: 26px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #638cc7;
	color: #ffffff;
	border: 0.5px solid #000000;
	border-radius: 6px;
}

.chessBoardBtn:disabled {
    opacity: 0.65; 
    cursor: not-allowed;
  }

.chessBoardBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.chessBoardBtn:active {
	position:relative;
	top:1px;
}

.longboardBtn {
	width: 65px;

}

.boardBtn {
	width: 50px;
}

.boardBtn2 {
	width: 45px;
}

.boardBtn3 {
	width: 40px;
	height: 24px;
}

#moveNumber {
	width: 60px;
}

body {
	background-color: #fffcc7;
}


@media only screen and (orientation: portrait) {
    body{
		--chess: 70;/*52;*/
		--grid: 80;/*60;*/
		--dot: 64;/*48;*/
		--titlescale: 1.5; 
		--markerscale: 2;
		--Gscale: 1.5;
	}

    #chessboard table {
		margin-top: 20px;
	}
	
	#chessboard .chess-center {
		height: 80px; /*60px;*/
	}

	#chessboard .chess-td {
		width: 80px; /*60px;*/
		height: 80px; /*60px;*/
	}

	#chessboard .chess-axi-top {
		top: -20px;
		left: -5px;
		width: 80px; /*60px;*/
		height: 40px;
		font-size: 36px; /*24px;*/
	}

	#chessboard .chess-axi-bot {
		display: block;
		top: 380px;
		left: -5px;
		width: 80px; /*60px;*/
		height: 40px;
		font-size: 36px; /*24px;*/
	}
	
	#chessboard .chess-td-trans {
		width: 227px; /*170px;*/
	}
	#chessboard .trans-top-1 {
		left: 208px; /*156px;*/
		top: 80px; /*60px;*/
	}
	#chessboard .trans-top-2 {
		left: 208px; /*156px;*/
		top: 80px; /*60px;*/
	}
	#chessboard .trans-bottom-1 {
		left: 208px; /*156px;*/
		top: 640px; /*60px;*/
	}
	#chessboard .trans-bottom-2 {
		left: 208px; /*156px;*/
		top: 640px; /*60px;*/
	}
	#chessboard .horizonLine {
		border-top: 1px solid black;
	}
	#chessboard .verticalLine {
		border-left: 1px solid black;
	}
	#chessboard-name{
		width: 320px;
		left: 160px;
		top: 325px;
		font-size: 48px;
	}

	#chess-info{
		top: -5px;
		font-size: 40px;
	}
	
	#chesslist .chesspieceRed, .chesspieceBlack{
		width: 70px;/*52;*/
		height: 70px;/*52;*/
		font-size: 50px; /*34px;*/
	}

	#chesslist .chesscurrent{
		width: 70px;
		height: 70px;
		border: 3px solid #737373;

	}

	#chesslist .chesspieceMovingCurve{
		margin: 27px;
		height: 15px;
		width: 15px;
	}

	#chessNumCtrl {
		font-size: 32px;
	}
	
	.chessBoardBtn:active {
	    top:2px;
    }


   .longboardBtn {
		width: 160px;
		height: 70px;
		margin-right: 2px;
	    margin-left: 2px;
		font-size: 35px;
		border:1px solid #000000;
		border-radius: 12px;
	}

	.boardBtn {
		width: 120px;
		height: 70px;
		margin-right: 2px;
	    margin-left: 2px;
		font-size: 35px;
		border:1px solid #000000;
		border-radius: 12px;
	}

	.boardBtn2 {
		margin-top: 40px;
		width: 110px;
		height: 65px;
		margin-right: 2px;
	    margin-left: 2px;
		font-size: 35px;
		border:1px solid #000000;
		border-radius: 12px;
	}

	#moveNumber {
		width: 100px;
	}
}

