body{font-size: 12px; font-family: "微軟正黑體"}

#chessboard {
	position: relative;
}
#chessboard, #chessboard * {
	box-sizing: border-box;
}
#chessboard table {
	border-collapse: collapse;
}
#chessboard .chess-center {
	height: 30px;
}

#chessboard .chess-td {
	width: 30px;
	height: 30px;
	border: 0.5px solid black;
}

#chessboard .chess-axi-top, .chess-axi-bot {
	position: absolute;
	width: 30px;
	height: 20px;
	font-size: 12px;
	font-style: normal;
}

#chessboard .chess-td-trans {
	width: 85px;
	height: 0;
	position: absolute;
}
#chessboard .trans-top-1 {
	left: 78px;
	top: 30px;
	transform: rotate(45deg);
	border: 0.75px solid black;
}
#chessboard .trans-top-2 {
	left: 78px;
	top: 30px;
	transform: rotate(-45deg);
	border: 0.75px solid black;
}
#chessboard .trans-bottom-1 {
	left: 78px;
	bottom: 30px;
	transform: rotate(45deg);
	border: 0.75px solid black;
}
#chessboard .trans-bottom-2 {
	left: 78px;
	bottom: 30px;
	transform: rotate(-45deg);
	border: 0.75px solid black;
}

#chessboard-name{
	position: absolute;
	left: 85px;
	top: 122px;
	font-size: 18px;
	font-family: "微軟正黑體";
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
    align-items: center;
	-webkit-justify-content: center;
    justify-content: center;/
}

#chess-info{
	position: absolute;
	left:0px;
	top: -77px;
	text-align: center;
	color: black;
	font-size: 14px;
	visibility: hidden;
}

/*棋子的样式*/
#chesslist .chesspieceRed, .chesspieceBlack{
	position: absolute;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	
	background: #aaa;
	font-style: normal;
	font-size: 17px;
	font-weight: 800;
	cursor: pointer;
	z-index: 1;
	
    display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
    align-items: center;
	-webkit-justify-content: center;
    justify-content: center;
}

#chesslist .chesscurrent{
	position: absolute;
	border-radius: 20%;
	width: 26px;
	height: 26px;
	border: 1px solid #737373;
	cursor: pointer;
	z-index: 2;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#chesslist .chesspieceMovingCurve{
	position: absolute;
	margin: 9.3px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #555;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

/*上方棋子的样式*/
#chesslist .textcolor {
	color: white;
}

#chesslist .chesspieceRed {
	line-height: 20px;
	background: red;
}
#chesslist .chesspieceBlack {
	line-height: 20px;
	background: Black;
}
#chessboard .active {
	background: #f40;
	color: #fff;
	border-color: #f40;
}

#chessNumCtrl {
	margin-top: -10px;
	margin-left: 10px;
}

.boardBtn {
	width: 50px;
}

.boardBtn2 {
	width: 45px;
}

#moveNumber {
	width: 60px;
}

body {
	background-color: #fffcc7;
}