#contentSection {
    background-image: url('../assets/image/bgImage2.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#showUpArea {
    position: relative;
    height: 70%;
    width: 90%;
}

.chessBookOutptArea, .chessBookInputArea {
	opacity: 0.8;
    display: inline-block;
    position: relative;
    margin: 2%;
    width: 80%;
    height: 20%;
}

.chessBookOutptArea {
    height: 50%;
    width: 28%;
}

.chessBookLabel {
    display: block;
    margin: 1em;
}

.inputArea, .outputArea {
    opacity: 0.8;
    font-size: 10px;
    color: gray;
    position: relative;
    width: 90%;
    height: 90%;
    overflow:auto;
    padding: 1em;
}

.outputArea {
    
    color: black;
}

.chartArea {
    opacity: 0;
    position: relative;
    display: inline-block;
    height: 46%;
    width: 40%;
    margin:  1%;
    background-color: white;
}

.btnList {
    position: relative;
    margin-left: 2%;
}

button {
    font-size: 1.5em;
    margin: 0.5em;
}

.opacity9 {
    opacity: 0.9;
}

#audioPlayer {
    position: fixed;
    opacity: 0.6;
    width: 100px;
    height: 50px;
    bottom: 1px;
    right: 1px;
}