#main {
    background-image: url('../assets/image/bgImage3.jpg');
    background-size: cover;
    position: absolute;
    height: 100vh;
	width: 100vw;
    overflow: auto;
    top:0;
    left: 0;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#showUpArea {
    position: relative;
    height: 70%;
    width: 90%;
}


.chessBookLabel {
    display: block;
    margin: 1em;
}

.inputArea, .outputArea {
    opacity: 0.7;
    font-size: 12px;
    color: gray;
    position: relative;
    width: 95%;
    height: 5vw;
    overflow:auto;
    padding: 1em;
	border: 3px solid #222222;
}

/* .outputArea {
    color: black;
} */

.outputTable {
	border: 0px;
	border-color: white;
	border-collapse: collapse;
	text-align: center;
	font-weight:bold;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.outputTable thead {
	text-align: center;
	background:black;
	color:#f2f2f2;
	display: block;
	position: relative;
	
}
	
.TableBody {
	text-align: center;
	overflow-y:scroll;
    display:block;
    height: 90%;
    position: absolute;
}

.wid_70{
	width: 70px;
}

.wid_120{
	width: 120px;
}

.wid_180{
	width: 180px;
}

.rateArea {
	display: none;
}

.opacity9 {
    opacity: 0.9 !important;
}

#audioPlayer {
    position: fixed;
    opacity: 0.6;
    width: 100px;
    height: 50px;
    bottom: 1px;
    right: 1px;
}

.titleBar {
    position: fixed;
    display: block;
    z-index: 10;
    width: 100%;
    background-color: #d4eaf1;
}

.titleText {
    margin: 0px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    color: #555555;
    font-family: cursive;
   
}

.btnList {
    position: fixed;
    display: block;
    width: 12%;
    top: 50px;
}

#content {
    position: relative;
    display: block;
    width: 85%;
    height: 100%;
    left: 13%;
    top: 60px;
    z-index: 1;
    
}


.chessBookInputArea {
	opacity: 0.8;
    display: block;
    position: relative;
    width: 100%;
}

.chessBookOutptArea {
    opacity: 0.8;
    display: inline-block;
    position: relative;
    margin: 2% 2% 0 0;
    height: 60%;
    width: 45%;
}

.chartArea {
    opacity: 0;
    position: relative;
    display: inline-block;
    height: 60%;
    width: 50%;
}

.consoleBtn {
    font-size: 30px;
    margin: 10px;
}

#uploadBtn {
    font-size: 28px;
    margin-top: 4px;
}

@media only screen and (max-width: 1024px) {
    .titleText {
        font-size: calc(30 / 1024 * 100vw);
    }
    .consoleBtn {
        font-size: calc(30 / 1024 * 100vw);
    }
    #uploadBtn {
        font-size: calc(28 / 1024 * 100vw);
    }
    .btnList {
        top: calc(50 / 1024 * 100vw);
    }
    #content {
        top: calc(60 / 1024 * 100vw);
    }
}

@media (orientation: portrait) {
    .chessBookOutptArea {
		display: block;
        width: 100%;
        font-size: 26px;
        margin: 4% 0 1% 0;
    }
	.TableBody {
        position: relative;
        height: 50vh;
		/* max-height: 500px; */
		display:block;
	}
    .chartArea {
		display: block;
        width: 100%;
      /* //  height: 40%; */
    }
}